.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;

  form {
    border-radius: 8px;
    max-width: 480px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--azul-escuro-800);

    input {
      border-radius: 8px;
      width: 80%;
      height: 60px;
      padding: 0 0.5rem;
      border: none;
      background-color: var(--azul-escuro-800);
      color: var(--white);
      outline: none;
      font-size: 18px;

      &::placeholder {
        color: var(--white);
      }
    }

    .searchIcon {
      font-size: 30px;
      margin-left: 20px;
    }
  }

  .selectContainer {
    background-color: var(--azul-escuro-800);
    display: flex;
    align-items: center;
    justify-content: center;

    select {
      width: 90%;
      height: 60px;
      margin: 0 auto;
      background-color: var(--azul-escuro-800);
      color: var(--white);
      padding: 0rem 0.5rem;
      outline: 0;
      border: 0;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}

@media (min-width: 1024px) {
  .container {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    form {
      width: 70%;

      input {
        width: 85%;
      }
    }

    .selectContainer {
      width: 20%;
    }
  }
}
