.container {
  & > div:first-child {
    width: 90%;
    margin: 40px auto 0;

    button {
      width: 100px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 17px;
      color: white;
      background-color: var(--azul-escuro-800);
      border: none;
      border-radius: 3px;
    }
  }
}

.contentContainer {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;

  .imageContainer {
    position: relative;
    width: 100%;
    max-width: 550px;
    height: 250px;
  }
}

.countryInfo {
  display: flex;
  flex-direction: column;

  strong {
    font-size: 23px;
    font-weight: 800;
    margin: 30px 0 30px 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    div {
      p {
        font-weight: 600;
        line-height: 1.8;
        font-size: 1.065rem;

        span {
          font-weight: 300;
        }
      }
    }

    div + div {
      margin-top: 30px;
    }
  }

  .borderInfo {
    display: flex;
    flex-direction: column;
    p {
      font-weight: 600;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    div {
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
      row-gap: 10px;
      word-break: break-all;

      div {
        padding: 10px;
        background-color: var(--azul-escuro-800);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media (min-width: 1024px) {
  .contentContainer {
    flex-direction: row;
    justify-content: space-between;

    .imageContainer {
      width: 40%;
      height: 300px;
    }
  }

  .countryInfo {
    width: 55%;

    .info {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      div + div {
        margin-top: 0;
      }
    }

    .borderInfo {
      flex-direction: row;

      p {
        margin-right: 15px;
        margin-bottom: 0;
      }

      div {
        flex-direction: row;

        div {
          padding: 5px 10px;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .contentContainer {
    flex-direction: row;
    justify-content: space-between;

    .imageContainer {
      width: 45%;
      height: 350px;
    }
  }

  .countryInfo {
    .info {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      div + div {
        margin-top: 0;
      }
    }

    .borderInfo {
      flex-direction: row;

      p {
        margin-right: 15px;
        margin-bottom: 0;
      }

      div {
        flex-direction: row;
        div {
          padding: 5px 10px;
        }
      }
    }
  }
}
